<div style="display:flex;flex-direction:column;align-items:center;justify-content:center;margin-top:60px;">
    <div style="width:70%;background:#e6e6e6;border-radius:8px;box-shadow:0 0 40px -10px;padding: 20px;">
        {{#if emptyList}}
        <h1 style="margin-top: 30px; margin-bottom: 30px;">No hay productos</h1>
        {{ else }}
        <h1>Todos los Prodcuctos</h1>
        <table class="table table-hover" style="margin-top: 30px; margin-bottom: 30px;">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Title</th>
                    <th scope="col">Price</th>
                    <th scope="col">Thumbnail</th>
                </tr>
            </thead>
            <tbody>
                {{#each productList}}
                <tr>
                    <th scope="row">{{ this.id}}</th>
                    <td>{{ this.title }}</td>
                    <td>{{ this.price }}</td>
                    <td><img src="{{ this.thumbnail }}" alt="imagen de producto" style="width:20px;height:20px"></td>
                </tr>
                {{/each}}
            </tbody>
        </table>
        {{/if}}
        <a href="../"><button style="float:right;padding:8px 12px;font-family:'Montserrat',sans-serif;border: solid #6c6c71;background:#e6e6e6;color:#5a5a6e;cursor:pointer;transition:all .3s;box-shadow:0 0 40px -10px;">Cargar un producto</button></a>
    </div>
</div>